/* =Forms
-----------------------------------------------------------------------------*/
form {
  margin-bottom: 24px;
}
select[multiple="multiple"],
textarea {
  width: 100%;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding: 0.9rem 1rem;
  line-height: 1;
  height: 18px;
  outline: none;
  background: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-bottom: 0;
  color: rgba(0, 0, 0, 0.85);
}
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="text"][disabled],
input[type="tel"][disabled],
input[type="url"][disabled],
input[type="password"][disabled],
textarea[disabled],
select[disabled] {
  resize: none;
  opacity: 0.55;
  cursor: default;
}
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
  -webkit-appearance: none;
}
select[multiple],
textarea {
  height: auto;
  line-height: 1.5;
}
textarea {
  font-size: 15px;
}
textarea:focus,
select:focus,
input:focus {
  outline: none;
  background: #fff;
  border: 1px solid #222;
}
fieldset {
  padding: 31px 32px;
  margin-bottom: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}
fieldset *:last-child {
  margin-bottom: 0 !important;
}
legend {
  font-weight: 500;
  font-size: 86%;
  text-transform: uppercase;
  padding: 0 1em;
  margin-left: -1em;
  top: 2px;
  position: relative;
  line-height: 0;
}
.forms section {
  display: block;
}
.forms section,
.forms p {
  margin-bottom: 24px;
}
.forms textarea,
.forms select,
.forms input[type="email"],
.forms input[type="number"],
.forms input[type="search"],
.forms input[type="text"],
.forms input[type="tel"],
.forms input[type="url"],
.forms input[type="password"] {
  width: 100%;
  display: block;
}
.forms label {
  font-size: 94%;
  display: block;
}
.forms label.checkbox {
  text-transform: none;
  font-weight: normal;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
}
.forms .label-top {
  padding-top: 24px;
}
.forms .checkbox-list {
  display: block;
}
.forms .checkbox-list label {
  font-size: inherit;
  color: inherit;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 16px;
  text-transform: none;
  font-weight: normal;
}
.forms .checkbox-list-vertical .checkbox {
  margin-bottom: 8px;
}
.forms .checkbox-list-vertical .checkbox:last-child {
  margin-bottom: 0;
}
.forms input.width-1,
.forms textarea.width-1,
.forms select.width-1 {
  width: 8.33333333%;
}
.forms input.width-2,
.forms textarea.width-2,
.forms select.width-2 {
  width: 16.66666667%;
}
.forms input.width-3,
.forms textarea.width-3,
.forms select.width-3 {
  width: 25%;
}
.forms input.width-4,
.forms textarea.width-4,
.forms select.width-4 {
  width: 33.33333333%;
}
.forms input.width-5,
.forms textarea.width-5,
.forms select.width-5 {
  width: 41.66666667%;
}
.forms input.width-6,
.forms textarea.width-6,
.forms select.width-6 {
  width: 50%;
}
.forms input.width-7,
.forms textarea.width-7,
.forms select.width-7 {
  width: 58.33333333%;
}
.forms input.width-8,
.forms textarea.width-8,
.forms select.width-8 {
  width: 66.66666667%;
}
.forms input.width-9,
.forms textarea.width-9,
.forms select.width-9 {
  width: 75%;
}
.forms input.width-10,
.forms textarea.width-10,
.forms select.width-10 {
  width: 83.33333333%;
}
.forms input.width-11,
.forms textarea.width-11,
.forms select.width-11 {
  width: 91.66666667%;
}
.forms input.width-12,
.forms textarea.width-12,
.forms select.width-12 {
  width: 100%;
}
.forms.form-inline textarea,
.forms .form-inline textarea,
.forms.form-inline select,
.forms .form-inline select,
.forms.form-inline input[type="email"],
.forms .form-inline input[type="email"],
.forms.form-inline input[type="number"],
.forms .form-inline input[type="number"],
.forms.form-inline input[type="search"],
.forms .form-inline input[type="search"],
.forms.form-inline input[type="text"],
.forms .form-inline input[type="text"],
.forms.form-inline input[type="tel"],
.forms .form-inline input[type="tel"],
.forms.form-inline input[type="url"],
.forms .form-inline input[type="url"],
.forms.form-inline input[type="password"],
.forms .form-inline input[type="password"],
.forms.form-inline .tools-select,
.forms .form-inline .tools-select {
  width: auto;
  display: inline-block;
}
@media (max-width: 768px) {
  .forms .label-top {
    padding-top: 0;
  }
  .forms input.width-1,
  .forms textarea.width-1,
  .forms select.width-1,
  .forms input.width-2,
  .forms textarea.width-2,
  .forms select.width-2,
  .forms input.width-3,
  .forms textarea.width-3,
  .forms select.width-3,
  .forms input.width-4,
  .forms textarea.width-4,
  .forms select.width-4,
  .forms input.width-5,
  .forms textarea.width-5,
  .forms select.width-5,
  .forms input.width-6,
  .forms textarea.width-6,
  .forms select.width-6,
  .forms input.width-7,
  .forms textarea.width-7,
  .forms select.width-7,
  .forms input.width-8,
  .forms textarea.width-8,
  .forms select.width-8,
  .forms input.width-9,
  .forms textarea.width-9,
  .forms select.width-9,
  .forms input.width-10,
  .forms textarea.width-10,
  .forms select.width-10,
  .forms input.width-11,
  .forms textarea.width-11,
  .forms select.width-11,
  .forms input.width-12,
  .forms textarea.width-12,
  .forms select.width-12 {
    width: 100%;
  }
}
.desc {
  text-transform: none;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  line-height: 20px;
  font-weight: normal;
}
ul.desc {
  margin-bottom: 8px;
}
span.desc {
  margin-left: 4px;
  line-height: 20px;
}
.error,
.success {
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
}
span.error,
span.success {
  margin-left: .4rem;
}
input.input-error,
textarea.input-error,
select.input-error,
.input-error {
  margin-top: -1px;
  background: none;
  background-color: rgba(209, 17, 73, 0.1);
  border: 1px solid #d11149;
}
input.input-success,
textarea.input-success,
select.input-success,
.input-success {
  margin-top: -1px;
  background: none;
  background-color: rgba(10, 135, 84, 0.1);
  border: 1px solid #0A8754;
}
input.input-big {
  font-size: 1.8rem;
  padding: 1.5rem 1.2rem;
  height: 52px;
}
select.select-big {
  font-size: 1.8rem;
  height: 52px;
  padding: 6px 10px;
}
input.input-small {
  font-size: 1.2rem;
  padding: 0.7rem 1rem;
  height: 28px;
}
select.select-small {
  font-size: 1.2rem;
  height: 28px;
  padding: 6px 10px;
}
.input-append,
.input-prepend {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 24px;
}
.input-append input,
.input-prepend input {
  flex: 1;
  margin-bottom: 0 !important;
}
.input-append span,
.input-prepend span {
  -webkit-flex-shrink: 0;
  display: block;
  font-weight: normal;
  background-color: #efefef;
  margin: 0;
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 86%;
  line-height: 36px;
  white-space: nowrap;
}
.input-append span {
  position: relative;
  z-index: 1;
  border-left: none;
  border-radius: 0 2px 2px 0;
}
.input-append input {
  border-radius: 2px 0 0 2px;
}
.input-prepend span {
  border-right: none;
  border-radius: 2px 0 0 2px;
}
.input-prepend input {
  border-radius: 0 2px 2px 0;
}
.btn-append {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.btn-append button,
.btn-append .btn {
  flex: 1;
}
