/* =Reset
-----------------------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

audio:not([controls]) {
  display: none;
  height: 0; }

blockquote,
q {
  quotes: none; }

blockquote p:before,
blockquote p:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  vertical-align: top; }

thead th,
thead td {
  font-weight: bold;
  vertical-align: bottom; }

a img,
th img,
td img {
  vertical-align: top; }

button,
input,
select,
textarea {
  margin: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

button {
  width: auto;
  overflow: visible; }

input[type="reset"],
input[type="submit"],
input[type="file"],
input[type="radio"],
input[type="checkbox"],
select,
button {
  cursor: pointer; }

button:active,
button:focus {
  outline: none; }

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="radio"],
input[type="checkbox"] {
  font-size: 110%;
  position: relative;
  margin-right: 3px;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

hr {
  display: block;
  box-sizing: content-box;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

img,
video,
audio,
embed,
object {
  max-width: 100%; }

img,
video,
embed,
object {
  height: auto; }

embed,
object {
  height: 100%; }

img {
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

/* =Typography
-----------------------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  line-height: 24px;
  background: #fff;
  color: #202020; }

/* =Links
-----------------------------------------------------------------------------*/
a {
  color: #256bc9; }
  a:hover {
    -moz-transition: all linear 0.2s;
    transition: all linear 0.2s;
    color: #e21e3b; }

/* =Headings
-----------------------------------------------------------------------------*/
.title,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #000;
  text-rendering: optimizeLegibility; }

.title,
h1 {
  margin-bottom: 16px; }

h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 8px; }

.title,
h1,
h2,
h3,
h4 {
  margin-left: -1px; }

.title {
  font-size: 4.8rem;
  line-height: 56px; }

h1 {
  font-size: 3rem;
  line-height: 32px; }

h2 {
  font-size: 2.4rem;
  line-height: 32px; }

h3 {
  font-size: 2rem;
  line-height: 24px; }

h4 {
  font-size: 1.8rem;
  line-height: 24px; }

h5 {
  font-size: 1.6rem;
  line-height: 24px; }

h6 {
  font-size: 1.5rem;
  line-height: 24px;
  text-transform: uppercase; }

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6,
ul + h1,
ul + h2,
ul + h3,
ul + h4,
ul + h5,
ul + h6,
ol + h1,
ol + h2,
ol + h3,
ol + h4,
ol + h5,
ol + h6,
dl + h1,
dl + h2,
dl + h3,
dl + h4,
dl + h5,
dl + h6,
blockquote + h1,
blockquote + h2,
blockquote + h3,
blockquote + h4,
blockquote + h5,
blockquote + h6,
hr + h1,
hr + h2,
hr + h3,
hr + h4,
hr + h5,
hr + h6,
pre + h1,
pre + h2,
pre + h3,
pre + h4,
pre + h5,
pre + h6,
table + h1,
table + h2,
table + h3,
table + h4,
table + h5,
table + h6,
form + h1,
form + h2,
form + h3,
form + h4,
form + h5,
form + h6,
figure + h1,
figure + h2,
figure + h3,
figure + h4,
figure + h5,
figure + h6,
address + h1,
address + h2,
address + h3,
address + h4,
address + h5,
address + h6 {
  margin-top: 24px; }

/* =Line height and margin
-----------------------------------------------------------------------------*/
ul,
ol,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0 0 0 24px; }

ol ol li {
  list-style-type: lower-alpha; }

ol ol ol li {
  list-style-type: lower-roman; }

p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
fieldset,
figure,
address,
output {
  margin-bottom: 16px; }

/* =Lead
-----------------------------------------------------------------------------*/
.lead {
  font-size: 120%;
  line-height: 28px; }

/* =Quote
-----------------------------------------------------------------------------*/
blockquote {
  font-style: italic;
  font-size: 120%;
  line-height: 28px;
  padding-left: 24px;
  border-left: 1px solid rgba(0, 0, 0, 0.2); }
  blockquote cite {
    font-size: 86%;
    font-weight: normal;
    line-height: 20px; }

/* =Address
-----------------------------------------------------------------------------*/
address {
  font-style: normal; }

/* =Definition list
-----------------------------------------------------------------------------*/
dl dt {
  font-weight: bold; }

dd {
  margin-left: 24px; }

/* =Text-level
-----------------------------------------------------------------------------*/
cite {
  color: rgba(0, 0, 0, 0.5);
  font-style: italic; }

small {
  font-size: 86%;
  line-height: 20px; }

s,
del {
  text-decoration: line-through; }

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #202020;
  cursor: help; }

strong,
b {
  font-weight: bold; }

em,
i {
  font-style: italic; }

sub,
sup {
  font-size: 74%;
  line-height: 0;
  position: relative;
  margin-left: .2rem; }

sup {
  top: -.4rem; }

sub {
  bottom: -.2rem; }

figcaption {
  margin: .3rem 0;
  font-size: 86%;
  font-style: italic; }

ins,
u {
  text-decoration: underline; }

mark {
  background-color: #ffd61e;
  color: #202020;
  text-decoration: none; }

time {
  font-size: 74%; }

/* =Code
-----------------------------------------------------------------------------*/
pre,
code,
kbd,
samp,
var,
output {
  font-size: 90%;
  font-style: normal;
  font-family: Menlo, Monaco, Consolas, Courier, monospace; }

pre {
  font-size: 90%;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.9);
  overflow: auto;
  background: rgba(0, 0, 0, 0.03);
  padding: 24px;
  word-wrap: normal; }

td pre {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word; }

mark,
code,
samp,
kbd {
  padding: .2rem .4rem;
  display: inline-block;
  line-height: 1;
  border-radius: 2px; }

code {
  background: rgba(0, 0, 0, 0.07); }

pre code {
  font-size: 100%;
  border: none;
  padding: 0;
  background: none;
  line-height: 24px; }

var {
  color: rgba(0, 0, 0, 0.5); }

samp {
  background: #46a9fc;
  color: rgba(255, 255, 255, 0.95); }

kbd {
  background: #202020;
  color: rgba(255, 255, 255, 0.85);
  white-space: nowrap; }

/*# sourceMappingURL=style.css.map */
